::ng-deep .mat-slider-wrapper {
  .mat-slider-thumb-container {
    .mat-slider-thumb-label {
      width: 65px;
      height: 65px;
      top: -80px;
      right: -32px;
    }
  }
}

mat-form-field {
  width: 100%;
}
mat-selection-list {
  width: 100%;
}

.load {
  max-height: 30em;
  overflow-y: auto;
}
